<%= form_for([@section], :html=>{:class=>'form-inline',:autocomplete=>'on'}) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class=>"input-small"%>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.check_box :state, :class=> "checkbox"%>
  </div>
  <!-- <div class="field form-group">
    <%= f.label :alarm_on %><br>
    <%= f.datetime_select :alarm_on %>
  </div>
  <div class="field form-group">
    <%= f.label :alarm_off %><br>
    <%= f.datetime_select :alarm_off %>
  </div -->
  <div class="field">
    <%= f.label :floor %><br>
    <%= f.text_field :floor, :class=>"input-small" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
