<!-- <h1>Add sections</h1> -->

<!--<%= link_to 'Add Section', new_section_path, :class=>"btn btn-primary btn-small"%>-->

<br/>
<br/>
<!-- <h1>Listing sections</h1> -->
<div class="table-responsive">
<table class="table table-hover table-bordered" style="width:90%;margin-left:5%;">
  <thead>
    <tr>
      <th>Title</th>
      <th>State</th>
      <!-- <th>Alarm on</th> -->
      <!-- <th>Alarm off</th> -->
      <th>Floor</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.title %></td>
        <td>

        <%if !section.state %>
          <%= link_to image_tag("lamp_off.jpg"), section, method: :delete, data: { status: true }%>
        <%else%>
          <%= link_to image_tag("lamp_on.jpg"), section, method: :delete, data: { status: false }%>
        <%end%>
        </td>
        <!-- <td><%= section.alarm_on %></td> -->
        <!-- <td><%= section.alarm_off %></td> -->
        <td><%= section.floor %></td>
        <!-- <td><%= link_to 'Show', section, :class=>"btn btn-info btn-small" %></td> -->
        <td><%= link_to 'Edit', edit_section_path(section), :class=>"btn btn-secondary btn-large" %></td>
        <!-- <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger btn-small" %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>