<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>State:</strong>
  <%= @section.state %>
</p>

<!-- <p>
  <strong>Alarm on:</strong>
  <%= @section.alarm_on %>
</p>

<p>
  <strong>Alarm off:</strong>
  <%= @section.alarm_off %>
</p> -->

<p>
  <strong>Floor:</strong>
  <%= @section.floor %>
</p>

<%= link_to 'Edit', edit_section_path(@section) , :class=>"btn btn-info btn-small"%> |
<%= link_to 'Back', sections_path, :class=>"btn btn-info btn-small" %>
