// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img{
	max-width:80%;
	padding-left: 20%;
}

table{
	font-size:26px;
	tr{
		td{
			font-size:26px;
		}
	}
}
